{% extends "base.html" %}

<title>{% block title %}Home{% endblock %}</title>

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/home_carousel1.jpg" class="d-block w-100" width="1280" height="427" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a href="/stock/backtest">
                    <button type="button" class="btn btn-info">트레이딩 백테스트</button>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/home_carousel1.jpg" class="d-block w-100" width="1280" height="427" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a href="/stock/simulate">
                    <button type="button" class="btn btn-info">트레이딩 시뮬레이션</button>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/home_carousel1.jpg" class="d-block w-100" width="1280" height="427" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <a href="/stock/portfolio">
                    <button type="button" class="btn btn-info">최적합 포트폴리오</button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container text-center py-5 mt-auto">
    <br>
    <h2>What is FtrillAsset?</h2>
    <p>
        FtrillAsset은 AI를 활용한 주가 분석과 최적의 매매기법을 제안하는 서비스입니다.<br>
        보유종목 또는 관심종목을 분석해보고 시뮬레이션 해보세요.
    </p>
    <br>
    <div class="card-deck">
        <div class="card border-0" style="cursor: pointer;" onclick="location.href='/stock/backtest'">
            <img src="/static/images/home_card4.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">백테스트</h3>
                <br>
                <p class="card-text">
                    최근 1년간의 주가 데이터와<br>
                    3대 매매기법을 기반으로<br>
                    최적의 매매 수익률을 재현하여<br>
                    향후 투자에 적용할 수 있습니다.
                </p>
            </div>
        </div>
        <div class="card border-0" style="cursor: pointer;" onclick="location.href='/stock/simulate'">
            <img src="/static/images/home_card2.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">시뮬레이션</h3>
                <br>
                <p class="card-text">
                    자사 AI를 기반으로<br>
                    종목의 향후 6개월 주가를 예측,<br>
                    3대 매매기법을 기반하여<br>
                    매수/매도를 시뮬레이션 할 수 있습니다.
                </p>
            </div>
        </div>
        <div class="card border-0" style="cursor: pointer;" onclick="location.href='/stock/portfolio'">
            <img src="/static/images/home_card3.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">포트폴리오</h3>
                <br>
                <p class="card-text">
                    효율적인 자산분배를 통해<br>
                    리스크와 수익률을 관리할 수 있는<br>
                    포트폴리오 최적화를<br>
                    시뮬레이션 할 수 있습니다. 
                </p>
            </div>
        </div>
    </div>
    <hr>
    <p class="text-left">
        <small>
            * 모든 투자행위에 대한 책임은 서비스 이용자에게 있습니다.<br>
            * 당사는 투자 컨설팅을 하지 않습니다.<br>
            * 당사의 모든 서비스는 기존 데이터의 분석과 예측(가상)데이터의 시뮬레이션입니다.
        </small>
    </p>
</div>

<div class="container text-center py-5 mt-auto">
    <br>
    <h2>자주 묻는 질문</h2>
    <br>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        FtrillAsset은 무슨 뜻인가요?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Four Trillion Asset입니다.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        수익률 산출의 기준은 무엇인가요?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    매도 신호 이전 처음 포착된 매수 신호에 매수로 간주,<br>
                    매수 이후 처음 포착된 매도 신호에 매도로 간주하여, 하나의 수익률 쌍으로 계산됩니다.<br>
                    이후 산출된 수익률을 합산하여 최종 수익률이 산출됩니다.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        미래 주가는 어떻게 예측하나요?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    현재까지의 AI모델은 예측치가 기존 데이터를 후행하는 양상을 나타냅니다.<br>
                    하지만 제3의 변수를 반영하지 못하여 실제 미래의 추가와는 차이가 나타날 수 있습니다.<br>
                    따라서 저희 Ftrill Asset은 MLOps 기반 서비스를 제공해 지속적인 모델 개선을 하고 있습니다. 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}