{% extends "base.html" %}

<title>{% block title %}백테스트{% endblock %}</title>

{% block content %}
<script>
  function search() {
    let company_name = document.getElementById("company_name");
    let start_date = document.getElementById("start_date");
    let end_date = document.getElementById("end_date");

    if (!company_name.value) {
      alert("종목 이름을 입력하세요.");
      company_name.focus();
    } else if (!start_date.value) {
      alert("시작일을 선택하세요.");
      start_date.focus();
    } else if (!end_date.value) {
      alert("종료일을 선택하세요.");
      end_date.focus();
    } else {
      location.href = "?company=" + company_name.value
        + "&start_date=" + start_date.value
        + "&end_date=" + end_date.value;
    }
  }
</script>

<div class="container text-center py-5 ">
  <h1>Backtesting</h1>
  <br><br><br>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3 w-auto p-3 " style="width: 1000px; margin-right:0px; padding:0rem;">
        <input type="text" class="form-control w-75 p-3" placeholder="종목을 입력하세요." id="company_name" value="{{company}}">
        <div class="input-group-append padding:0rem;">
          <button class="btn btn-outline-secondary " type="button" id="search" onclick="search()">검색</button>
        </div>
      </div>
      <div style="margin-bottom: 30px;">
        <input type="date" min="2018-01-01" id="start_date" value="{{start_date}}">
        ~ 
        <input type="date" min="2018-01-01" id="end_date" value="{{end_date}}">
      </div>
    </div>
  </div>
  <div class="card mb-3 border-0" style="margin-top: 45px;">
    <h3>- {{company}} -</h3><br>
    {% if filename %}
      <div id="stock_img_div">
        <img src="/static/stock_img/{{filename}}" class="card-img-top" id="stock_img">
      </div>
    {% endif %}
      <div class="container">
        <div class="row">
          <br><br>
          <div class="col" style="margin-top: 30px;">
            {% if filename %}
              <div>
                <button type="button" class="btn btn-outline-success" id="bollingerband">
                  볼린저 밴드
                </button>
                <button type="button" class="btn btn-outline-success" id="triplescreen">
                  삼중창 매매
                </button>
                <button type="button" class="btn btn-outline-success" id="dualmomentum">
                  모멘텀 투자
                </button>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body" id="rr_div">
      </div>
  </div>

  <script>
    let bollingerband = document.getElementById("bollingerband");
    let triplescreen = document.getElementById("triplescreen");
    let dualmomentum = document.getElementById("dualmomentum");

    let company_name = document.getElementById("company_name");
    let start_date = document.getElementById("start_date");
    let end_date = document.getElementById("end_date");

    bollingerband.addEventListener('click', e => {
      let param = {
        'company' : company_name.value,
        'start_date' : start_date.value,
        'end_date' : end_date.value,
        'bollingerband' : 'bollingerband'
      }

      $.ajax({
        url : 'bollingerband',
        type : 'POST',
        headers: {'X-CSRFTOKEN' : '{{ csrf_token }}'},
        data : JSON.stringify(param),
        success : function(data) {
          html_for_filename1 = '<img src="/static/stock_img/' + data.filename1 + '"' + ' class="card-img-top">'
          html_for_filename2 = '<br><img src="/static/stock_img/' + data.filename2 + '"' + ' class="card-img-top">'
          html_for_rr = '<div class="alert alert-dark w-25 p-3" role="alert" style="margin-left: auto; margin-right: auto;">' + '연간 수익률: ' + data.rr + ' %' +'</div>'
          $("#stock_img_div").html(html_for_filename1)
          $("#stock_img_div").append(html_for_filename2)
          $("#rr_div").html(html_for_rr)
        },
        error : function(){
          alert('매매기법 로드에 실패하였습니다, 다시 시도해 주세요.')
        }
      });
    });

    triplescreen.addEventListener('click', e => {
      let param = {
        'company' : company_name.value,
        'start_date' : start_date.value,
        'end_date' : end_date.value,
        'triplescreen' : 'triplescreen'
      }

      $.ajax({
        url : 'triplescreen',
        type : 'POST',
        headers: {'X-CSRFTOKEN' : '{{ csrf_token }}'},
        data : JSON.stringify(param),
        success : function(data) {
          html_for_filename = '<img src="/static/stock_img/' + data.filename + '"' + ' class="card-img-top">'
          html_for_rr = '<div class="alert alert-dark w-25 p-3" role="alert" style="margin-left: auto; margin-right: auto;">' + '연간 수익률: ' + data.rr + ' %' +'</div>'
          $("#stock_img_div").html(html_for_filename)
          $("#rr_div").html(html_for_rr)
        },
        error : function(){
          alert('매매기법 로드에 실패하였습니다, 다시 시도해 주세요.')
        }
      });
    });

    dualmomentum.addEventListener('click', e => {
      let param = {
        'company' : company_name.value,
        'start_date' : start_date.value,
        'end_date' : end_date.value,
        'dualmomentum' : 'dualmomentum'
      }

      $.ajax({
        url : 'dualmomentum',
        type : 'POST',
        headers: {'X-CSRFTOKEN' : '{{ csrf_token }}'},
        data : JSON.stringify(param),
        success : function(data) {
          html_for_rr = '<div class="alert alert-dark w-25 p-3" role="alert" style="margin-left: auto; margin-right: auto;">' + data.dualmomentum_flag +'</div>'
          $("#rr_div").html(html_for_rr)
        },
        error : function(){
          alert('매매기법 로드에 실패하였습니다, 다시 시도해 주세요.')
        }
      });
    });


  </script>
  {% endblock content %}